<!DOCTYPE html>
<html>
  <head>
    <title>Fbase2021</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-app.js"></script>
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css" />
    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyBoACh5ugZSnZbTFU7QnoZlKQViaDaDivs",
        authDomain: "fbase-2021-test.firebaseapp.com",
        projectId: "fbase-2021-test",
        storageBucket: "fbase-2021-test.appspot.com",
        messagingSenderId: "45690471389",
        appId: "1:45690471389:web:aa0d6321b2c4ffa12aac34"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
    </script>
    <%= javascript_pack_tag 'firebase'%>
    <%= yield %>
  </body>
</html>
